/* 遮罩层 */
.actionBlock {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

/* 弹出窗口 */
.window {
    position: absolute;
    left: calc(50% - 180px);
    top: calc(50% - 200px);
    width: 400px;
    height: 300px;
    border-radius: 10px;
    background-color: rgb(61, 70, 77);
    color: #ccc;
    z-index: 2;
    text-align: center;
}

.window .tips {
    margin: 30px;
    font-size: 20px;
    font-weight: 700;
}

.window div {
    margin: 10px;
}

.window input {
    width: 180px;
    height: 25px;
    border-radius: 5px;
}

.window span {
    display: inline-block;
    width: 10em;
}

.window .windowBtn {
    width: 12em;
    height: 30px;
    margin-top: 10px;
    text-indent: 0;
    transition: all 0.5s;
}

.window .windowBtn:hover {
    background-color: rgb(152, 241, 100);
}
/* 错误信息 */

.window .errmes {
    height: 20px;
    margin-top: 30px;
}

.window .errmes span {
    width: 20em;
    font-size: 12px;
}

.errmesRed {
    color: red;
}

.errmesGreen {
    color: rgb(152, 241, 100);
}

.accountImg {
    position: fixed;
    width: 300px;
    height: 300px;
    bottom: 10px;
    left: 10px;
    z-index: -1;
}

#box {
    position: absolute;
    top: calc(50% - 220px);
    left: calc(50% - 420px);
    width: 840px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
}

.leftBox {
    position: absolute;
    display: inline-block;
    padding: 30px;
    width: 45%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    background: #7474bf;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #7474bf, #348ac7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #7474bf, #348ac7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.leftBox span {
    display: inline-block;
    margin-top: 30px;
    width: 100%;
    color: #000;
    font-size: 18px;
    text-align: center;
}

.leftBox div {
    margin: 50px auto 20px;
    width: 200px;
    height: 200px;
}

.leftBox div img {
    width: 200px;
    height: 200px;
}

.rightBox {
    position: absolute;
    left: 45%;
    display: inline-block;
    padding: 30px;
    width: 55%;
    height: 100%;
    color: #000;
    font-size: 14px;
    border-radius: 0 10px 10px 0;
    background: #DAE2F8;
}

.basicInfo {
    width: 100%;
    height: 42%;
}

.basicInfo span,
.userInfo span {
    display: inline-block;
    margin: 10px 0;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
}

.basicInfo span:nth-child(1),
.userInfo span:nth-child(1) {
    width: 8em;
}

.basicInfo span:nth-child(n+2),
.userInfo span:nth-child(n+2) {
    width: 12em;
}

.userInfo {
    width: 100%;
    height: 58%;
    margin-top: 20px;
}

.userInfo div .tips {
    margin: 10px 0;
    width: 100%;
    color: rgb(34, 34, 34);
    font-size: 12px;
    text-align: left;
}

.userInfo .address span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.Btn {
    display: inline-block;
    padding: 0 8px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(125, 218, 71);
    color: rgb(34, 34, 34);
    line-height: 30px;
    transition: all 0.5s;
    cursor: pointer;
    vertical-align: middle;
}

.Btn:hover {
    color: #000;
    background-color: rgb(96, 223, 23);
}

.basicInfo input,
.userInfo input {
    width: 12.6em;
    height: 30px;
    border-radius: 5px;
    vertical-align: middle;
}

.errmes {
    height: 30px;
    color: red;
    text-align: center;
}

.userInfo .errmes span {
    width: 20em;
    font-size: 12px;
}