.accountImg {
    position: fixed;
    width: 300px;
    height: 300px;
    bottom: 10px;
    left: 10px;
    z-index: -1;
}

#box {
    position: absolute;
    top: calc(50% - 220px);
    left: calc(50% - 420px);
    width: 840px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
}

.leftBox {
    position: absolute;
    display: inline-block;
    padding: 30px;
    width: 45%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    background: #7474bf;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #7474bf, #348ac7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #7474bf, #348ac7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.leftBox span {
    display: inline-block;
    margin-top: 30px;
    width: 100%;
    color: #000;
    font-size: 18px;
    text-align: center;
}

.leftBox div {
    margin: 50px auto 20px;
    width: 200px;
    height: 200px;
}

.leftBox div img {
    width: 200px;
    height: 200px;
}

.rightBox {
    position: absolute;
    left: 45%;
    display: inline-block;
    padding: 30px;
    width: 55%;
    height: 100%;
    color: #000;
    font-size: 14px;
    border-radius: 0 10px 10px 0;
    background: #DAE2F8;
}

.basicInfo {
    width: 100%;
    height: 42%;
}

.basicInfo span,
.userInfo span {
    display: inline-block;
    margin: 10px 0;
    height: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
}

.basicInfo span:nth-child(odd),
.userInfo span:nth-child(odd) {
    width: 8em;
}

.basicInfo span:nth-child(even),
.userInfo span:nth-child(even) {
    width: 12em;
}

.userInfo {
    width: 100%;
    height: 58%;
    padding: 10px 0;
}

.userInfo div .tips {
    margin: 10px 0 20px;
    width: 100%;
    color: rgb(34, 34, 34);
    font-size: 12px;
    text-align: left;
}

.userInfo .address span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.Btn {
    display: inline-block;
    padding: 3px 8px;
    border-radius: 5px;
    background-color: rgb(125, 218, 71);
    color: rgb(34, 34, 34);
    transition: all 0.5s;
    cursor: pointer;
}

.Btn:hover {
    color: #000;
    background-color: rgb(96, 223, 23);
}

.basicInfo input,
.userInfo input {
    width: 12.6em;
    height: 30px;
    border-radius: 5px;
    vertical-align: middle;
}

.errmes {
    height: 30px;
    color: red;
    text-align: center;
}

.userInfo .errmes span {
    width: 20em;
    font-size: 12px;
}