/* top栏 */

#top {
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    font-size: 14px;
    line-height: 50px;
}

#top #nav {
    position: relative;
    width: 1200px;
    height: 60px;
}

#top #logo {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0px;
}

#top #index {
    position: absolute;
    top: 10px;
    left: 280px;
    text-align: center;
    margin-left: 200px;
}
 
#top #classif {
    position: absolute;
    top: 10px;
    left: 340px;
    text-align: center;
    margin-left: 200px;
}

#top #search {
    position: absolute;
    top: 20px;
    left: 700px;
    width: 200px;
    height: 30px;
    border: 1px solid #D2D2D2;
    border-radius: 20px;
    transition: all 0.5s;
}
#top #search:hover {
    border: 1px solid #9E9E9E;    
}

#top #searbar img {
    position: absolute;
    top: 25px;
    left: 870px;
    width: 20px; 
}


#top #log {
    position: absolute;
    top: 20px;
    right: 100px;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #D2D2D2;
    border-radius: 6px;
    font-size: 12px;
    transition: all .5s;
}

#top #log a,
#top #reg a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

#log:hover,
#reg:hover {
    transform: translateY(-2px);
}

#top #reg {
    position: absolute;
    top: 20px;
    right: 0;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #D2D2D2;
    border-radius: 6px;
    font-size: 12px;
    transition: all .5s;
}

#top #username {
    position: absolute;
    top: 10px;
    right: 160px;
}

#top #my_order {
    position: absolute;
    top: 10px;
    right: 70px;
}

#top #logout {
    position: absolute;
    top: 10px;
    right: 0px;
}


/*购物车*/

#shopcar {
    position: fixed;
    bottom: 50px;
    right: 80px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#shopcar img {
    display: block;
    margin: auto;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.5s;
}

#shopcar:hover img {
    width: 90%;
    height: 90%;
}


/*页脚*/

#footer {
    text-align: center;
}