/*购物车*/

#shopcar {
    position: fixed;
    bottom: 50px;
    right: 200px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#shopcar img {
    display: block;
    margin: auto;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.5s;
}

#shopcar:hover img {
    width: 90%;
    height: 90%;
}


/* 轮播图 */

#rotation {
    position: relative;
    /* width: 100%; */
    width: 1200px;
    height: 330px;
    text-align: center;
    margin-top: 0px;
}

.cont {
    margin: auto;
    padding: 30px 200px;
    height: 330px;
}

.cont li {
    position: relative;
    margin: auto;
    padding: 30px;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.cont img {
    position: absolute;
    top: 70px;
    left: 30px;
    width: 150px;
    transition: all .5s;
}

.cont img:hover {
    transform: translateY(-4px);
}

.item.active {
    display: block;
}

#left {
    cursor: pointer;
    position: absolute;
    top: 140px;
    left: 300px;
    z-index: 99;
    color: #fff;
    transition: all 0.5s;
}

#left:hover {
    transform: translateY(-5px);
}

#right {
    cursor: pointer;
    position: absolute;
    top: 140px;
    right: 300px;
    z-index: 99;
    transition: all 0.5s;
}

#right:hover {
    transform: translateY(-5px);
}

.dot {
    position: absolute;
    top: 280px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 99;
}

.dot span {
    display: inline-block;
    margin: 0 5px;
    font-size: 20px;
    color: rgb(17, 17, 17);
}


/* 出版图书板块 */

#publish #publish_title {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

#publish_title h1 {
    font-size: 26px;
    font-weight: 400;
    color: #212121;
}

#publish #publish_body {
    width: 100%;
    height: 497px;
}

#publish #recommend_list {
    float: left;
    width: 838px;
    height: 100%;
    padding: 33px;
    border-radius: 10px 0 0 10px;
    background-color: #FFFFFF;
    border-right: 1px solid #F0F0F0;
}


/* 推荐列表左侧 */

#recommend_list #list_left {
    position: relative;
    float: left;
    width: 410px;
    height: 100%;
    background-color: #FFFFFF;
}

#list_left #suggestImg {
    position: absolute;
    top: -32px;
    left: -32px;
}

#list_left #left_title {
    width: 100%;
    height: 200px;
    padding: 20px;
    background-color: #FFFFFF;
}

#left_title h4 {
    font-size: 18px;
    font-weight: 400;
}

#left_title h6 {
    color: #B9B9B9;
    font-size: 12px;
    font-weight: 400;
}

#left_title p {
    width: 100%;
    height: 90px;
    color: #B9B9B9;
    margin-top: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* 弹性伸缩盒子模型显示 */
    display: -webkit-box;
    /* 限制在一个块元素显示的文本的行数 */
    -webkit-line-clamp: 5;
    /* 设置或检索伸缩盒对象的子元素的排列方式 */
    -webkit-box-orient: vertical;
}

#left_body img {
    margin: 80px 200px;
    width: 120px;
}


/* 推荐列表右侧 */

#recommend_list #list_right {
    float: left;
    width: 358px;
    height: 100%;
    background-color: #FFFFFF;
}

#list_right ul li {
    float: left;
    width: 178px;
    height: 215px;
    border-left: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    border-radius: 0 0 0 5px;
    background-color: #FFFFFF;
}

#list_right li:hover {
    background-color: #F7F7F7;
}

#right_body img {
    margin-top: 24px;
    margin-left: 24px;
    width: 100px;
}

#right_title {
    color: #212121;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 24px;
}

#right_title h4 {
    font-weight: 400;
}

#right_title h6 {
    color: #B9B9B9;
}


/* 排行榜 */

#ranking_list {
    position: relative;
    float: left;
    width: 362px;
    height: 100%;
    padding: 33px;
    border-radius: 0 10px 10px 0;
    background-color: #FFFFFF;
}

#rank_title h1 {
    /* position: absolute;
    top: 30px;
    left: 80px; */
    margin-left: 40px;
    color: #212121;
    font-weight: 400;
}

#rank_title label {
    position: absolute;
    top: 30px;
    left: 30px;
}

#rank_title label img {
    width: 40px;
}

#rank_body {
    margin-top: 15px;
}

#rank_body li {
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
}

#rank_body li:hover {
    background-color: #F7F7F7;
}

#rank_body span {
    display: inline-block;
    width: 20px;
    height: 20px;
    color: #A1A1A1;
    text-align: center;
}

#rank_body h4 {
    display: inline-block;
    width: 240px;
    height: 30px;
    font-weight: 400;
    color: #A1A1A1;
    margin-left: 20px;
    border-bottom: 1px solid #F0F0F0;
}

#rank_body h4:hover {
    color: #212121;
}