body {
    background-color: #FFFFFF;
}

#box {
    position: absolute;
    top: calc(50% - 250px);
    right: calc(50% - 700px);
    width: 600px;
    height: 600px;
}


/* 头像模块 */

#characters {
    position: absolute;
    top: 50px;
    left: 250px;
    width: 90px;
    height: 90px;
    border-radius: 45px;
}

#characters img {
    width: 88px;
}


/* 提示模块 */

#tips {
    position: absolute;
    top: 160px;
    width: 600px;
    height: 80px;
    text-align: center;
}

#tips h1 {
    color: #989898;
    font-size: 40px;
}

#tips h4 {
    color: #989898;
    font-weight: 400;
}


/* 表单区域 */

#loginForm {
    position: relative;
    top: 240px;
    width: 100%;
    height: 360px;
    text-align: center;
}

#log_account {
    width: 350px;
    height: 35px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #DCDCDC;
    border-bottom: 3px solid #DCDCDC;
}

#log_account:focus {
    border-bottom: 3px solid #69B4FE;
}

#log_password {
    width: 350px;
    height: 35px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #DCDCDC;
    border-bottom: 3px solid #DCDCDC;
}

#log_password:focus {
    border-bottom: 3px solid #69B4FE;
}

.verifycode {
    position: relative;
    width: 350px;
    height: 35px;
    margin-top: 20px;
    margin-left: 125px;
}

.verifycode div {
    position: absolute;
    right: 0;
    bottom: 3px;
}

.verifycode div img {
    display: inline-block;
    width: 100px;
    height: 31px;
    border-radius: 5px;
}

#verification {
    width: 350px;
    height: 35px;
    /* margin-top: 20px; */
    border-radius: 5px;
    border: 1px solid #DCDCDC;
    border-bottom: 3px solid #DCDCDC;
}

#verification:focus {
    border-bottom: 3px solid #69B4FE;
}


/* 去注册模块 */

#toReg {
    position: absolute;
    display: inline-block;
    top: 172px;
    left: 123px;
}

#toReg h4 {
    color: #D2CAC1;
}


/* 去主页模块 */

#toIndex {
    position: absolute;
    display: inline-block;
    top: 172px;
    left: 410px;
}

#toIndex h4 {
    color: #D2CAC1;
}


/* 错误信息模块 */

.errmes {
    position: absolute;
    display: inline-block;
    width: 350px;
    height: 30px;
    top: 196px;
    left: 130px;
    line-height: 30px;
    color: #F26552;
}


/* 提交按钮模块 */

#sb {
    cursor: pointer;
    width: 350px;
    height: 40px;
    color: #F0F6FC;
    border-radius: 20px;
    margin-top: 70px;
    background-color: #65B3FA;
}