body {
    background-color: rgb(221, 221, 221);
}

a {
    text-align: center;
}

#logo {
    display: inline-block;
    width: 200px;
}


/************************************/


/* 退出按钮 */

#logout {
    position: absolute;
    display: inline-block;
    top: 15px;
    right: 100px;
    width: 2em;
    height: 30px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

#logout a {
    color: #ccc;
    transition: color 0.5s;
}

#logout a:hover {
    color: rgb(255, 143, 51);
}


/************************************/


/************************************/


/* 错误信息 */

.errmes {
    height: 20px;
}

.window .errmes span {
    width: 20em;
    font-size: 12px;
}

.errmesRed {
    color: red;
}

.errmesGreen {
    color: rgb(152, 241, 100);
}


/************************************/


/************************************/


/*遮罩层*/

#actionBlock {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.actionShow {
    display: block;
    z-index: 1;
}

.actionHidden {
    display: none;
}


/************************************/

#top {
    padding-left: 50px;
    height: 60px;
    background-color: rgb(29, 32, 39);
    color: #fff;
    line-height: 60px;
    font-size: 20px;
}


/************************************/


/* 导航栏区域 */

#nav {
    position: absolute;
    width: 350px;
    height: calc(100% - 60px);
    min-height: 650px;
    border-radius: 0 0 30px 0;
    background-color: rgb(61, 70, 77);
}

#welcome {
    margin: auto;
    margin-top: 20px;
    width: 96%;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(41, 45, 54);
    color: #fff;
    text-align: center;
    transition: all 1s;
}

#welcome:hover {
    color: aquamarine;
}

#name {
    padding-top: 50px;
    height: 100px;
    line-height: 50px;
    font-size: 50px;
}

.wcword {
    margin-top: 20px;
    font-size: 25px;
}

#navitems {
    margin-top: 30px;
}

#navitems div {
    cursor: pointer;
}

.norotate {
    transition: all 1s;
}

.rotate90 {
    transform: rotate(-90deg);
    transition: all 1s;
}


/************************************/


/************************************/


/* 是否显示 */

.itemShow {
    height: 45px;
    transition: all 0.5s;
    opacity: 1
}

.itemHidden {
    height: 0;
    transition: all 0.5s;
    overflow: hidden;
    opacity: 0
}

#navitems p {
    display: inline-block;
    margin-left: 80px;
}

.item {
    padding-left: 1.5em;
    height: 50px;
    background-color: rgb(41, 45, 54);
    color: #ccc;
    line-height: 50px;
    font-size: 20px;
}

.item span {
    display: inline-block;
    width: 8em;
}

.childItem {
    padding-left: 3em;
    background-color: #ccc;
    color: #000;
    font-size: 18px;
    line-height: 45px;
}


/* 图书信息模块 */

.main {
    position: absolute;
    top: 65px;
    left: 365px;
    width: calc(100% - 380px);
    min-width: 1150px;
    height: calc(100% - 70px);
    min-height: 645px;
    border-radius: 10px;
    background-color: rgb(61, 70, 77);
}

.mainItemShow {
    display: block;
}

.mainItemHidden {
    display: none;
}

#action {
    display: inline-block;
    width: 10%;
}

#action a {
    display: inline-block;
    margin: 30px 38px 0;
    width: 6em;
    height: 30px;
    background-color: rgb(131, 238, 70);
    border-radius: 5px;
    color: #fff;
    line-height: 30px;
    transition: color 0.5s;
}

#action a:hover {
    color: #000;
}

.window {
    position: absolute;
    left: calc(50% - 250px);
    top: calc(50% - 225px);
    width: 500px;
    height: 450px;
    border-radius: 10px;
    background-color: rgb(61, 70, 77);
    color: #ccc;
    text-align: center;
}

.window .tips {
    margin: 30px;
    font-size: 20px;
    font-weight: 700;
}

.window div {
    margin: 10px;
}

.window span {
    display: inline-block;
    width: 10em;
}

.window input {
    width: 250px;
    height: 25px;
    border-radius: 5px;
}

.window .windowBtn {
    width: 12em;
    height: 30px;
    text-indent: 0;
    transition: all 0.5s;
}

.window .windowBtn:hover {
    background-color: rgb(152, 241, 100);
}

#addSort,
#alterSort {
    top: calc(50% - 125px);
    height: 250px;
}

#addSort input,
#alterSort input {
    width: 12em;
}

#checkOrder {
    left: calc(50% - 275px);
    top: calc(50% - 160px);
    width: 550px;
    height: 310px;
}

#checkPurchase,
#checkStock {
    left: calc(50% - 275px);
    top: calc(50% - 175px);
    width: 550px;
    height: 350px;
}

#checkOrder .tips span:first-child,
#checkPurchase .tips span:first-child,
#checkStock .tips span:first-child,
#checkSale .tips span:first-child {
    width: 20em;
}

#checkOrder .orders div,
#checkPurchase .purchases div,
#checkStock .stocks div,
#checkSale .sales div {
    margin: 0 auto 10px;
    width: 95%;
    height: 25px;
    border-radius: 5px;
    background-color: #ccc;
    color: #000;
}

.orders,
.purchases,
.sales,
#bookPurchase,
.stocks {
    height: 150px;
    overflow: auto;
}

#checkOrder .paid,
#checkPurchase .total {
    color: red;
    font-weight: 700;
}

#checkOrder #pass {
    width: 6em;
    background-color: rgb(131, 238, 70);
    text-indent: 0;
    transition: background-color 0.5s;
}

#checkOrder #nopass {
    margin-left: 60px;
    width: 6em;
    background-color: rgb(245, 84, 84);
    text-indent: 0;
    transition: background-color 0.5s;
}

#checkOrder #pass:hover {
    background-color: rgb(108, 212, 47);
}

#checkOrder #nopass:hover {
    background-color: rgb(245, 33, 33);
}

#checkOrder span,
#checkPurchase span,
#checkSale span,
#checkStock span {
    width: 11em;
    line-height: 25px;
}

#checkOrder span:first-child,
#checkPurchase span:first-child,
#checkSale span:first-child,
#checkStock span:first-child {
    width: 6em;
}

#addPurchase {
    top: calc(50% - 190px);
    height: 380px;
}

#bookPurchase {
    margin: 0;
    margin-top: 30px;
    height: 185px;
}

#addPurchasesubmit {
    text-indent: 0;
    width: 8em;
}


/* 列表 */

.List {
    position: absolute;
    margin: 20px 35px;
    padding: 20px 0;
    /* width: 1130px; */
    width: calc(100% - 65px);
    /* height: 50%;*/
    height: calc(100% - 150px);
    border-radius: 10px;
    background-color: #ccc;
    overflow: auto;
}


/* 列表标题栏 */

.List .listInfo,
.List .listItem {
    margin: 15px 0 auto 20px;
    padding: 5px 10px;
    /* width: 1030px; */
    width: calc(100% - 65px);
    height: 40px;
    border-radius: 10px;
    background-color: #fff;
    line-height: 30px;
}

.List .listInfo {
    margin-top: 0;
}

.List .listInfo span,
.List .listItem span {
    display: inline-block;
    margin: 0;
    width: 6em;
    text-align: center;
    Vertical-align: middle;
}

.List div span:nth-child(odd) {
    margin-left: 5px;
}

.List .listInfo .time,
.List .listItem .time {
    width: 15em;
}

.List .listItem .description {
    width: 15em;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: nowrap;
}

.listInfo {
    font-weight: 700;
}

#orderInfo .List div span {
    width: 15em;
}

#sortInfo .List div span {
    width: 25em;
}

#saleInfo .List div span {
    width: 25em;
}

#purchaseInfo .List div span {
    width: 10em;
}

#purchaseInfo .List .time {
    width: 15em;
}

#stockInfo .List div span {
    width: 15em;
}


/* 删除添加按钮 */

.delete a,
.alter a,
.check a {
    display: inline-block;
    width: 5em;
    height: 28px;
    border-radius: 5px;
    font-weight: 700;
    color: #000;
    background-color: rgb(245, 84, 84);
    transition: background-color 0.5s;
}

.alter a,
.check a {
    background-color: rgb(131, 238, 70);
}

.delete a:hover {
    background-color: rgb(245, 33, 33);
}

.alter a:hover,
.check a:hover {
    background-color: rgb(108, 212, 47);
}

#orderInfo .check,
#stockInfo .check,
#saleInfo .check,
#purchaseInfo .check,
#bookInfo .delete,
#sortInfo .delete,
#purchaseInfo .delete {
    position: absolute;
    right: 120px;
}

#bookInfo .alter {
    position: absolute;
    right: 200px;
}


/* 搜索栏 */

.searchBox {
    margin: auto;
    margin-top: 20px;
    padding: 20px 0;
    /* width: 1130px; */
    width: calc(100% - 65px);
    height: 100px;
    border-radius: 10px;
    background-color: rgb(41, 45, 54);
    color: #fff;
    font-weight: 700;
}

.search {
    display: inline-block;
    width: 85%;
}

#purchaseInfo .search,
#stockInfo .search {
    width: 75%;
}

.searchTop span {
    display: inline-block;
    width: 20em;
    text-align: center;
}

.searchBar {
    margin-top: 20px;
}

.searchBar span {
    display: inline-block;
    width: 20em;
    text-align: center;
}

.searchBar input {
    height: 25px;
    border-radius: 5px;
    text-indent: 1em;
}

.window .bookimg {
    margin-left: 58px;
    text-align: left;
}

.window .bookimg span {
    height: 25px;
    line-height: 25px;
    text-align: center;
}

.window .alterBookbid {
    display: inline-block;
    width: 250px;
}

.a-upload {
    padding: 0px 10px;
    height: 25px;
    line-height: 25px;
    position: relative;
    background: #fafafa;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    transition: all 0.5s;
}

.a-upload input {
    position: absolute;
    right: 0;
    top: 0;
    width: 94px;
    opacity: 0;
}

.a-upload:hover {
    color: #444;
    background: rgb(152, 241, 100);
    border-color: #ccc;
    text-decoration: none
}