.orderImg {
    position: fixed;
    width: 300px;
    height: 300px;
    bottom: 10px;
    right: 10px;
    z-index: -1;
}

#box {
    position: relative;
    top: 60px;
    left: calc(50% - 500px);
    padding: 20px 0;
    width: 1000px;
    height: 600px;
    border-radius: 10px;
}


/* 搜索栏 */

#searchBox {
    margin: auto;
    padding: 20px;
    width: 95%;
    height: 100px;
    border-radius: 5px;
    background-color: #c2c2c2;
    color: #000;
    font-weight: 700;
}

#action {
    display: inline-block;
    width: 20%;
}

#action a {
    display: inline-block;
    margin: 30px 38px 0;
    width: 6em;
    height: 30px;
    background-color: rgb(131, 238, 70);
    border-radius: 5px;
    color: #000;
    line-height: 30px;
    text-align: center;
    transition: all 0.5s;
}

#action a:hover {
    background-color: rgb(104, 189, 55);
}

.search {
    display: inline-block;
    width: 75%;
}

.searchTop span {
    display: inline-block;
    width: 20em;
    text-align: center;
}

.searchBar {
    margin-top: 20px;
}

.searchBar span {
    display: inline-block;
    width: 20em;
    text-align: center;
}

.searchBar input {
    height: 25px;
    border-radius: 5px;
    text-indent: 1em;
}

.List {
    position: absolute;
    margin: 25px;
    padding: 20px 0;
    width: 95%;
    height: 430px;
    border-radius: 5px;
    background-color: #c2c2c2;
    overflow: auto;
}

.List .listInfo,
.List .listItem {
    margin: 15px 0 auto 20px;
    padding: 5px 10px;
    width: calc(100% - 65px);
    height: 40px;
    border-radius: 10px;
    background-color: #fff;
    line-height: 30px;
}

.List .listInfo {
    margin-top: 0;
}

.List .listInfo span,
.List .listItem span {
    display: inline-block;
    margin: 0;
    width: 18em;
    text-align: center;
    Vertical-align: middle;
}

#return {
    right: 100px;
    margin-top: 20px;
    margin-left: calc(100% - 100px);
    width: 3em;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(231, 35, 35);
    color: #000;
    text-align: center;
    transition: all 0.5s;
}

#return:hover {
    background-color: rgb(202, 26, 26);
}

#orderDetailed .List {
    margin-top: 10px;
    height: 400px;
}

#orderDetailed .listInfo span,
#orderDetailed .listItem span {
    width: 15em;
}

.listInfo {
    font-weight: 700;
}

.List .listItem .check {
    position: absolute;
    margin: auto;
    right: 100px;
    display: inline-block;
    width: 5em;
    height: 30px;
    line-height: 30px;
    background-color: rgb(131, 238, 70);
    border-radius: 5px;
    transition: all 0.5s;
}

.List .listItem .check:hover {
    background-color: rgb(104, 189, 55);
}

.List .listItem .check:hover a {
    color: #000;
}