body {
    backface-visibility: #FFFFFF;
}

.shopcar1Img {
    position: fixed;
    width: 200px;
    height: 300px;
    bottom: 10px;
    left: 10px;
    z-index: -1;
}

.shopcar2Img {
    position: fixed;
    width: 200px;
    height: 300px;
    bottom: 10px;
    right: 10px;
    z-index: -1;
}


/* 订单信息 */

#cart_information {
    width: 900px;
    height: 430px;
    padding: 20px 50px;
    background-color: #483D8B;
    background: linear-gradient(to top, #EAE5C9, #6CC6CB);
    margin: 60px auto;
    border-radius: 10px;
    margin-bottom: 10px;
    overflow: auto;
}


/* 订单标题 */

#cart_title {
    width: 800px;
    height: 50px;
    border-radius: 6px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #F7F7F7;
}

#cart_title span {
    display: inline-block;
    width: 166px;
    height: 50px;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    color: #212121;
    background-color: #F7F7F7;
    border-top-left-radius: 10px;
}


/* 订单列表 */

#cart_list li {
    float: left;
    margin-top: 3px;
    width: 800px;
    height: 40px;
    border-radius: 6px;
    margin-bottom: 10px;
    background-color: #F0F0F0;
    transition: all 0.5s;
}

#cart_list li span {
    display: inline-block;
    width: 164px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

#cart_list li a {
    display: inline-block;
    width: 164px;
    height: 40px;
    text-align: center;
    padding-left: 2px;
    line-height: 40px;
}

#cart_list li #num {
    display: inline-block;
    width: 164px;
    height: 50px;
    text-align: center;
    line-height: 20px;
}

#num #decrease {
    border-radius: 5px;
    background-color: #F0F0F0;
}

#num #add {
    border-radius: 5px;
    background-color: #F0F0F0;
}

#cart_list li #book_num {
    width: 40px;
    height: 26px;
    line-height: 26px;
    font-weight: 700;
}

#cart_list #num label {
    cursor: pointer;
    display: inline-block;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
}


/* 购物车操作模块 */

#cart_operate {
    float: left;
    width: 900px;
    height: 70px;
    background-color: #F7F7F7;
    border-radius: 6px;
    margin: 0 auto;
    margin-left: 150px;
}

#shoppingCart #total {
    display: inline-block;
    width: 200px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-left: 450px;
    margin-top: 10px;
    margin-right: 60px;
    Vertical-align: middle;
}

#total h1 {
    display: inline-block;
    margin-left: 10px;
    color: #FF2832;
    font-weight: 400;
}

#shoppingCart #buy {
    display: inline-block;
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    color: #FFFFFF;
    background-color: #F26552;
    border-radius: 6px;
    text-align: center;
    line-height: 30px;
    transition: all 0.5s;
}

#shoppingCart #buy:hover {
    background-color: red;
}

#cart_list .delBtn {
    display: inline-block;
    width: 3.5em;
    height: 2.4em;
    line-height: 2.4em;
    text-align: center;
    border-radius: 6px;
    color: #000;
    background-color: rgb(231, 35, 35);
    transition: all .5s;
}

#cart_list .delBtn:hover {
    background-color: rgb(202, 26, 26);
}

#footer {
    margin-top: 200px;
}