body {
    background-color: rgb(221, 221, 221);
}

a {
    text-align: center;
}

#logo {
    display: inline-block;
    width: 200px;
}


/* 退出按钮 */

#logout {
    position: absolute;
    display: inline-block;
    top: 15px;
    right: 100px;
    width: 2em;
    height: 30px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

#logout a {
    color: #ccc;
    transition: color 0.5s;
}

#logout a:hover {
    color: rgb(255, 143, 51);
}


/************************************/

#actionBlock {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.actionShow {
    display: block;
    z-index: 1;
}

.actionHidden {
    display: none;
}

#top {
    padding-left: 50px;
    height: 60px;
    background-color: rgb(29, 32, 39);
    color: #fff;
    line-height: 60px;
    font-size: 20px;
}

#nav {
    position: absolute;
    width: 350px;
    height: calc(100% - 60px);
    min-height: 650px;
    border-radius: 0 0 30px 0;
    background-color: rgb(61, 70, 77);
}

#welcome {
    margin: auto;
    margin-top: 20px;
    width: 96%;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(41, 45, 54);
    color: #fff;
    text-align: center;
    transition: all 1s;
}

#welcome:hover {
    color: aquamarine;
}

#name {
    padding-top: 50px;
    height: 100px;
    line-height: 50px;
    font-size: 50px;
}

.wcword {
    margin-top: 20px;
    font-size: 25px;
}

#navitems {
    margin-top: 30px;
}

#navitems div {
    cursor: pointer;
}

.norotate {
    transition: all 1s;
}

.rotate90 {
    transform: rotate(-90deg);
    transition: all 1s;
}

.itemShow {
    height: 45px;
    transition: all 0.5s;
    opacity: 1
}

.itemHidden {
    height: 0;
    transition: all 0.5s;
    overflow: hidden;
    opacity: 0
}

#navitems p {
    display: inline-block;
    margin-left: 80px;
}

#mgAdmins {
    padding-left: 1.5em;
    height: 50px;
    background-color: rgb(41, 45, 54);
    color: #ccc;
    line-height: 50px;
    font-size: 20px;
}

#mgAdminsItem {
    padding-left: 3em;
    background-color: #ccc;
    color: #000;
    font-size: 18px;
    line-height: 45px;
}

.main {
    position: absolute;
    top: 65px;
    left: 365px;
    width: calc(100% - 380px);
    min-width: 1150px;
    height: calc(100% - 70px);
    min-height: 645px;
    border-radius: 10px;
    background-color: rgb(61, 70, 77);
}

.mainItemShow {
    display: block;
}

.mainItemHidden {
    display: none;
}

#action a {
    display: block;
    margin: 60px 38px 0;
    width: 6em;
    height: 30px;
    background-color: rgb(152, 241, 100);
    border-radius: 5px;
    color: #fff;
    line-height: 30px;
}

#action a:hover {
    color: #000;
}

#addAdmin,
#alterAdmin {
    position: absolute;
    left: calc(50% - 250px);
    top: calc(50% - 180px);
    width: 500px;
    height: 360px;
    border-radius: 10px;
    background-color: rgb(61, 70, 77);
    color: #ccc;
    text-align: center;
}

#addAdmin .tips,
#alterAdmin .tips {
    margin: 30px;
    font-size: 20px;
    font-weight: 700;
}

#addAdmin div,
#alterAdmin div {
    margin: 10px;
}

#addAdmin span,
#alterAdmin span {
    display: inline-block;
    width: 6em;
}

#addAdmin input,
#alterAdmin input {
    width: 250px;
    height: 25px;
    list-style: none;
    border: 0;
    border-radius: 5px;
}

.errmes {
    height: 20px;
}

#addAdmin .errmes span,
#alterAdmin .errmes span {
    width: 20em;
    font-size: 12px;
}

#addAdmin .errmesRed,
#alterAdmin .errmesRed {
    color: red;
}

#addAdmin .errmesGreen,
#alterAdmin .errmesGreen {
    color: rgb(152, 241, 100);
}

#addAdmin .addAdminBtn,
#alterAdmin .alterAdminBtn {
    width: 150px;
    height: 30px;
    text-indent: 0;
    cursor: pointer;
    transition: all 0.5s;
}

#addAdmin .addAdminBtn:hover,
#alterAdmin .alterAdminBtn:hover {
    background-color: rgb(152, 241, 100);
}

#alterAdmin #uid span:nth-child(2) {
    width: 250px;
}

#managerList {
    position: absolute;
    margin: 20px 35px;
    padding: 20px 0;
    width: calc(100% - 65px);
    height: calc(100% - 150px);
    border-radius: 10px;
    background-color: #ccc;
    overflow: auto;
}

#managerList .managerListItem {
    margin: 15px 0 auto 20px;
}

#managerList .managerListItem div {
    padding: 5px 10px;
    width: calc(100% - 65px);
    height: 40px;
    border-radius: 10px;
    background-color: #fff;
    line-height: 30px;
}

#managerList .managerListItem div:first-child {
    margin-top: 0;
}

#managerList .managerListItem div span {
    display: inline-block;
    margin-left: 5px;
    text-align: center;
}

#managerList .managerListItem div span:nth-child(-n+2) {
    width: 12em;
}

#managerList .managerListItem div span:nth-child(n+3) {
    width: 16em;
}

#managerList .managerListItem div span.delete,
#managerList .managerListItem div span.alter {
    display: inline-block;
    position: absolute;
    width: 3em;
    right: 150px;
    height: 30px;
    text-align: center;
}

#managerList .managerListItem div span.alter {
    right: 220px;
}

.delete a,
.alter a {
    display: inline-block;
    width: 3em;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(247, 64, 64);
    color: #000;
}

.alter a {
    background-color: rgb(131, 238, 70);
}

.delete a:hover {
    background-color: rgb(248, 41, 41);
}

.alter a:hover {
    background-color: rgb(108, 212, 47);
}