<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人信息-Bookspf</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/account.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>
    <div th:insert="~{common :: top}"></div>
    <div class="accountImg">
        <img src="/img/account.png" width="300px" height="300px">
    </div>
    <div id="bigBox">
        <div id="box">
            <div class="leftBox">
                <span>详细信息</span>
                <!-- 头像 -->
                <div id="characters"><img src="/img/avatar.png"></div>
                <span>[[${user.username}]]</span>
            </div>
            <div class="rightBox">
                <div class="basicInfo">
                    <div>基本信息:</div>
                    <div>
                        <span>UID</span>：
                        <span>[[${user.uid}]]</span>
                    </div>
                    <div>
                        <span>邮箱</span>：
                        <span v-show="passwordShow">[[${user.email}]]</span>
                        <input type="password" style="display:none" />
                        <input type="password" v-show="!passwordShow && !rePasswordShow" v-model="password" v-focus="!passwordShow && !rePasswordShow" @keyup.enter="isShowInput(4)" placeholder="请输入密码">
                        <input type="password" v-show="!passwordShow && rePasswordShow" v-model="rePassword" v-focus="!passwordShow && rePasswordShow" @keyup.enter="isShowInput(3);isShowInput(4);changePassword()" @blur="lostFocus" placeholder="请再次输入密码">
                        <a class="Btn" @click="isShowInput(3)">修改密码</a>
                    </div>
                    <div>
                        <span>余额</span>：
                        <span v-show="balanceShow && userBalance == ''">[[${user.balance}]]</span>
                        <span v-show="balanceShow && userBalance != ''">{{ userBalance }}</span>
                        <input type="text" @blur="isShowInput(5);changeBalance()" v-show="!balanceShow" v-model="balance" v-focus="!balanceShow" placeholder="请输入充值数">
                        <a class="Btn" @click="isShowInput(5)">充值</a>
                    </div>
                </div>

                <div class="userInfo">
                    <div>个人信息:</div>
                    <div>
                        <span class="tips">tips:以下信息将作为购书寄送地址,请认真填写,以确保正确性</span>
                    </div>
                    <div>
                        <span>手机号码</span>：
                        <span v-show="phoneShow && userPhone == ''">[[${user.phone}]]</span>
                        <span v-show="phoneShow && userPhone != ''">{{ userPhone }}</span>
                        <input type="text" @blur="isShowInput(0);changePhone()" v-show="!phoneShow" v-model="phone" v-focus="!phoneShow" placeholder="请输入号码">
                        <a class="Btn" @click="isShowInput(0)">修改</a>
                    </div>
                    <div>
                        <span>真实姓名</span>：
                        <span v-show="realnameShow && userRealname == ''">[[${user.realname}]]</span>
                        <span v-show="realnameShow && userRealname != ''">{{ userRealname }}</span>
                        <input type="text" @blur="isShowInput(1);changeRealname()" v-show="!realnameShow" v-model="realname" v-focus="!realnameShow" placeholder="请输入姓名">
                        <a class="Btn" @click="isShowInput(1)">修改</a>
                    </div>
                    <div class="address">
                        <span>收货地址</span>：
                        <span v-show="addressShow && userAddress == ''">[[${user.address}]]</span>
                        <span v-show="addressShow && userAddress != ''">{{ userAddress }}</span>
                        <input type="text" @blur="isShowInput(2);changeAddress()" v-show="!addressShow" v-model="address" v-focus="!addressShow" placeholder="请输入地址">
                        <a class="Btn" @click="isShowInput(2)">修改</a>
                    </div>
                    <div class="errmes">
                        <span v-show="isShow">{{errmes}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/account.js"></script>
    <script src="/js/common.js"></script>
</body>

</html>