<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人信息-Bookspf</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/account.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>
    <div th:insert="~{common :: top}"></div>
    <div class="accountImg">
        <img src="/img/account.png" width="300px" height="300px">
    </div>
    <div id="box">
        <div class="leftBox">
            <span>详细信息</span>
            <!-- 头像 -->
            <div id="characters"><img src="/img/avatar.png"></div>
            <span>[[${user.email}]]</span>
        </div>
        <div class="rightBox">
            <div class="basicInfo">
                <div>基本信息:</div>
                <div>
                    <span>UID</span>：
                    <span>[[${user.uid}]]</span>
                </div>
                <div>
                    <span>用户名</span>：
                    <span>[[${user.username}]]</span>
                    <a class="Btn">修改密码</a>
                </div>
                <div>
                    <span>余额</span>：
                    <span>[[${user.balance}]]</span>
                    <a id="recharge" class="Btn">充值</a>
                </div>
            </div>

            <div class="userInfo">
                <div>个人信息:</div>
                <div>
                    <span class="tips">tips:以下信息将作为购书寄送地址,请认真填写,以确保正确性</span>
                </div>
                <div>
                    <span>手机号码</span>：
                    <span :class="phoneShow?'':'Hidden'">[[${user.phone}]]</span>
                    <input type="text" @blur="isShowInput(0);changePhone()" :class="phoneShow?'Hidden':''" v-model="phone" placeholder="请输入修改的号码">
                    <a class="Btn" @click="isShowInput(0)">修改</a>
                </div>
                <div>
                    <span>真实姓名</span>：
                    <span :class="realnameShow?'':'Hidden'">[[${user.realname}]]</span>
                    <input type="text" @blur="isShowInput(1);changeRealname()" :class="realnameShow?'Hidden':''" v-model="realname" placeholder="请输入修改的姓名">
                    <a class="Btn" @click="isShowInput(1)">修改</a>
                </div>
                <div class="address">
                    <span>收货地址</span>：
                    <span :class="addressShow?'':'Hidden'">[[${user.address}]]</span>
                    <input type="text" @blur="isShowInput(2);changeAddress()" :class="addressShow?'Hidden':''" v-model="address" placeholder="请输入修改的地址">
                    <a class="Btn" @click="isShowInput(2)">修改</a>
                </div>
                <div class="errmes">
                    <span v-show="isShow">{{errmes}}</span>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/account.js"></script>
</body>

</html>