<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>图书详情页面-Bookspf</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/book.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>
    <div th:insert="~{common :: top}"></div>
    <div th:insert="~{common :: shopcar}"></div>
    <div class="bookImg">
        <img src="/img/book.png" width="300px" height="300px">
    </div>
    <div id="box" class="type_page">
        <div id="book_content">
            <div id="book_img"><img th:src="@{/bookimg/{book}.png(book=${book.bid})}" width="250" height="300"></div>
            <div id="book_title">
                <h1>[[${book.bookname}]]</h1>
                <span>作者: [[${book.author}]]</span>
                <h4>分类：[[${book.sortname}]]</h4>
            </div>
            <div id="book_price">
                <span>价格:[[${book.bookprice}]]</span>
                <span id="book_num">库存:[[${book.number}]]</span>
            </div>
            <div id="book_service">
                <button class="add_shoppingcar" onclick="noLogin()" th:if="${session.userToken == null}">加入购物车</button>
                <button class="buy" onclick="noLogin()" th:if="${session.userToken == null}">购买</button>
                <button class="add_shoppingcar" th:onclick="changeBid([[${book.bid}]])" @click="addShopcar()" th:if="${session.userToken != null}">加入购物车</button>
                <button class="buy" th:onclick="changeBid([[${book.bid}]])" @click="buy()" th:if="${session.userToken != null}">购买</button>
            </div>
        </div>
        <div id="book_evaluate">
            <div id="title">
                <h1>书籍描述</h1>
            </div>
            <div id="description">
                <p>[[${book.description}]]</p>
            </div>
        </div>
    </div>
    <div th:insert="~{common :: footer}"></div>

    <script th:inline="javascript">
    </script>
    <script src="/js/book.js"></script>
    <script src="/js/common.js"></script>
</body>

</html>