<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>图书详情页面-Bookspf</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/top.css">
    <link rel="stylesheet" href="/css/book.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>
    <div id="box" class="type_page">
        <div id="top">
            <div id="nav" class="type_page">
                <div id="logo">
                    <a href="/"><img src="/img/logo.png" style="width: 36px; height: 36px;"></a>
                </div>
                <a href="/" id="index">首页</a>
                <a href="" id="classif">分类</a>
                <a href="/login" id="log" th:if="${session.userToken == null}">登录</a>
                <a href="/register" id="reg" th:if="${session.userToken == null}">注册</a>
                <a th:href="@{/account/{user}(user=${session.userToken})}" th:if="${session.userToken != null}"
                    id="username">[[${session.username}]]</a>
                <a th:href="@{/orders/{user}(user=${session.userToken})}" th:if="${session.userToken != null}"
                    id="my_order">我的订单</a>
                <a href="/logout" th:if="${session.userToken != null}" id="exit">退出</a>
            </div>
        </div>
        <div id="book_content">
            <div id="book_img">1</div>
            <div id="book_title">
                <h1>[[${book.bookname}]]</h1>
                <span>作者: [[${book.author}]]</span>
            </div>
            <div id="book_price">
                <span>价格:[[${book.bookprice}]]</span>
                <span id="book_num">数量:[[${book.number}]]</span>
            </div>
            <div id="book_service">

                <button id="add_shoppingcar" @click="addShopcar()">加入购物车</button>
                <button id="buy">购买</button>
            </div>
        </div>
        <div id="book_evaluate">
            <div id="title">
                <h1>书籍描述</h1>
            </div>
            <div id="body">
                <p>[[${book.description}]]</p>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        var app = new Vue({
            el: "#box",
            data: {
                bid: ""
            },
            methods: {
                addShopcar: function () {
                    var that = this;
                    that.bid = [
                        [$ {
                            book.bid
                        }]
                    ];
                    axios.post("/addShopcar", {

                    }).then(function (response) {

                        console.log(response);
                    },
                        function (err) {

                        })

                }
            }
        })
    </script>
    <script src="/js/book.js"></script>

</body>

</html>