<html xmlns:th="http://www.thymeleaf.org">

<body>

    <div th:fragment="top">
        <div id="top">
            <div id="nav" class="type_page">
                <div id="logo">
                    <a href="/index"><img src="/img/logo.png" style="width: 36px; height: 36px;">图书售书平台</a>
                </div>
                <div id="index">
                    <a href="/">首页</a>
                </div>
                <div id="searbar">
                    <input type="text" @keyup.enter="search()" v-model="bookname" placeholder="书名/作者名" id="search">
                    <img src="/img/search.png">
                </div>
                <div id="log" th:if="${session.userToken == null}">
                    <a href="/login">登录</a>
                </div>
                <div id="reg" th:if="${session.userToken == null}">
                    <a href="/register">注册</a>
                </div>
                <div id="username">
                    <a th:href="@{/account/{user}(user=${session.userToken})}" th:if="${session.userToken != null}">[[${session.username}]]</a>
                </div>
                <div id="my_order" th:if="${session.userToken != null}">
                    <a th:href="@{/orders/{user}(user=${session.userToken})}">我的订单</a>
                </div>
                <div id="logout" @click="logout" th:if="${session.userToken != null}">
                    <a href="javascript:;">退出</a>
                </div>

            </div>
        </div>
    </div>

    <div th:fragment="shopcar">
        <div id="shopcar">
            <a th:href="@{/shopcar/{user}(user=${session.userToken})}" th:if="${session.userToken}!=null">
                <img src="/img/shopcar.png">
            </a>
            <a href="javascript:;" th:if="${session.userToken}==null">
                <img src="/img/shopcar.png">
            </a>
        </div>
    </div>

    <div th:fragment="footer">
        <div id="footer">
            <h2>The End</h2>
            <div>Copyright © 2020 Apple Inc. All rights reserved</div>
            <div>Author:&nbsp;&nbsp;陈十三、倪梓源</div>
            <div>备案号：粤ICP备110277X号</div>
        </div>
    </div>

</body>

</html>