<html xmlns:th="http://www.thymeleaf.org">

<body>

    <div th:fragment="top">
        <div id="top">
            <div id="nav" class="type_page">
                <div id="logo">
                    <a href="/index"><img src="/img/logo.png" style="width: 36px; height: 36px;"></a>
                </div>
                <a href="/" id="index">首页</a>
                <a href="javascript:;" id="classif">分类</a>
                <a href="/login" id="log" th:if="${session.userToken == null}">登录</a>
                <a href="/register" id="reg" th:if="${session.userToken == null}">注册</a>
                <a th:href="@{/account/{user}(user=${session.userToken})}" th:if="${session.userToken != null}" id="username">[[${session.username}]]</a>
                <a th:href="@{/orders/{user}(user=${session.userToken})}" th:if="${session.userToken != null}" id="my_order">我的订单</a>
                <div id="logout"><a href="javascript:;" @click="logout" th:if="${session.userToken != null}">退出</a></div>

            </div>
        </div>
    </div>


</body>

</html>