<html xmlns:th="http://www.thymeleaf.org">

<body>

    <div th:fragment="top">
        <div id="top">
            <div id="nav" class="type_page">
                <div id="logo">
                    <a href="/index"><img src="/img/logo.png" style="width: 36px; height: 36px;">图书售书平台</a>
                </div>
                <div id="index">
                    <a href="/">首页</a>
                </div>
                <div id="classif">
                    <a href="javascript:;">分类</a>
                </div>
                <div id="log" th:if="${session.userToken == null}">
                    <a href="/login">登录</a>
                </div>
                <div id="reg" th:if="${session.userToken == null}">
                    <a href="/register">注册</a>
                </div>
                <div id="username">
                    <a th:href="@{/account/{user}(user=${session.userToken})}" th:if="${session.userToken != null}">[[${session.username}]]</a>
                </div>
                <div id="my_order" th:if="${session.userToken != null}">
                    <a th:href="@{/orders/{user}(user=${session.userToken})}">我的订单</a>
                </div>
                <div id="logout" @click="logout" th:if="${session.userToken != null}">
                    <a href="javascript:;">退出</a>
                </div>

            </div>
        </div>
    </div>


</body>

</html>