<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>图书销售平台-Bookspf</title>
    <link rel="stylesheet" href="css/base.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="box" class="type_page">
        <div id="top">
            <div id="logo"></div>
            <a href="" id="index">首页</a>
            <a href="" id="classif">分类</a>
            <a href="/login" id="log" th:if="${session.userToken == null}">登录</a>
            <a href="/register" id="reg" th:if="${session.userToken == null}">注册</a>
            <select name="" id="">
                <option value="">
                    <a href="" th:if="${session.userToken != null}" th:text="${session.username}"></a>
                </option>
                <option value="">
                    <a href="">用户信息</a>
                </option>
                <option value="">
                    <a href="">我的订单</a>
                </option>
                <option value="">
                    <a href="">退出</a>
                </option>
            </select>
        </div>
        <div id="rotation">
            <img :src="imgArr[index]" @load="rotation" alt="">
            <a href="javascript:;" @click="last" v-if="index>0"><img src="img/prev.png" alt=""></a>
            <a href="javascript:;" @click="next" v-if="index<imgArr.length-1"><img src="img/next.png" alt=""></a>
        </div>
        <div id="publish">
            <h1>出版图书</h1>
            <div id="recommend_list">
                <div id="list_left">左</div>
                <div id="list_right">右</div>
            </div>
            <div id="ranking_list">
                <ul>
                    <li>西游记</li>
                    <li>红楼梦</li>
                </ul>
            </div>
        </div>



    </div>
    <script src="js/index.js"></script>
</body>

</html>