<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>图书销售平台-Bookspf</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="box">
        <div id="top">
            <div id="nav" class="type_page">
                <div id="logo">
                    <a href="/index"><img src="img/logo.png" style="width: 36px; height: 36px;"></a>
                </div>
                <a href="" id="index">首页</a>
                <a href="" id="classif">分类</a>
                <a href="/login" id="log" th:if="${session.userToken == null}">登录</a>
                <a href="/register" id="reg" th:if="${session.userToken == null}">注册</a>
                <a th:href="@{/account/{user}(user=${session.userToken})}" th:if="${session.userToken != null}" th:text="${session.username}"></a>
                <a href="/orders" id="my_order" th:if="${session.userToken != null}">我的订单</a>
                <a href="/logout" id="exit" th:if="${session.userToken != null}">退出</a>
            </div>
        </div>
        <div id="rotation" class="type_page" style="background: url('img/bg.gif') no-repeat;">
            <div id="left"><img src="img/prev.png" alt=""></div>
            <ul class="cont">
                <li class="item active">
                    <a href="#"> <img src="bookimg/1.jpg" alt=""></a>
                </li>
                <li class="item">
                    <a href="#"><img src="bookimg/2.jpg" alt=""></a>
                </li>
                <li class="item">
                    <a href="#"><img src="bookimg/3.jpg" alt=""></a>
                </li>
                <li class="item">
                    <a href="#"><img src="bookimg/4.jpg" alt=""></a>
                </li>
                <li class="item">
                    <a href="#"><img src="bookimg/5.jpeg" alt=""></a>
                </li>
                <li class="item">
                    <a href="#"><img src="bookimg/10.jpg" alt=""></a>
                </li>
                <li class="item">
                    <a href="#"><img src="bookimg/13.jpg" alt=""></a>
                </li>
            </ul>
            <div id="right"><img src="img/next.png" alt=""></div>
            <ul class="dot">
                <li class="point active" data-index="0"></li>
                <li class="point" data-index="1"></li>
                <li class="point" data-index="2"></li>
                <li class="point" data-index="3"></li>
                <li class="point" data-index="4"></li>
                <li class="point" data-index="5"></li>
                <li class="point" data-index="6"></li>
            </ul>
        </div>
        <div id="publish" class="type_page">
            <div id="publish_title">
                <h1>出版图书</h1>
            </div>
            <div id="publish_body">
                <div id="recommend_list">
                    <div id="list_left">
                        <div id="left_title">
                            <a href="#">
                                <h4>橙红年代</h4>
                            </a>
                            <h6>作者: AABB</h6>
                            <p>dahsdashdksahdjkshajdsadsadsa </p>
                        </div>
                        <div id="left_body">
                            <a href="#">
                                <img src="bookimg/1.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div id="list_right">
                        <ul>
                            <li>
                                <div id="right_body">
                                    <a href="#">
                                        <img src="bookimg/1.jpg" alt="">
                                    </a>
                                </div>
                                <div id="right_title">
                                    <a href="#">
                                        <h4>橙红年代</h4>
                                    </a>
                                    <h6>作者: AABB</h6>
                                </div>
                            </li>
                            <li>
                                <div id="right_body">
                                    <a href="#">
                                        <img src="bookimg/1.jpg" alt="">
                                    </a>
                                </div>
                                <div id="right_title">
                                    <a href="#">
                                        <h4>橙红年代</h4>
                                    </a>
                                    <h6>作者: AABB</h6>
                                </div>
                            </li>
                            <li>
                                <div id="right_body">
                                    <a href="#">
                                        <img src="bookimg/1.jpg" alt="">
                                    </a>
                                </div>
                                <div id="right_title">
                                    <a href="#">
                                        <h4>橙红年代</h4>
                                    </a>
                                    <h6>作者: AABB</h6>
                                </div>
                            </li>
                            <li>
                                <div id="right_body">
                                    <a href="#">
                                        <img src="bookimg/1.jpg" alt="">
                                    </a>
                                </div>
                                <div id="right_title">
                                    <a href="#">
                                        <h4>橙红年代</h4>
                                    </a>
                                    <h6>作者: AABB</h6>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="ranking_list">
                    <div id="rank_title">
                        <h1>排行榜</h1>
                    </div>
                    <div id="rank_body">
                        <ul>
                            <li>
                                <span>1</span>
                                <a href="#">
                                    <h4>大秦帝国</h4>
                                </a>
                            </li>
                            <li>
                                <span>1</span>
                                <a href="#">
                                    <h4>大秦帝国</h4>
                                </a>
                            </li>
                            <li>
                                <span>1</span>
                                <a href="#">
                                    <h4>大秦帝国</h4>
                                </a>
                            </li>
                            <li>
                                <span>1</span>
                                <a href="#">
                                    <h4>大秦帝国</h4>
                                </a>
                            </li>
                            <li>
                                <span>1</span>
                                <a href="#">
                                    <h4>大秦帝国</h4>
                                </a>
                            </li>
                            <li>
                                <span>1</span>
                                <a href="#">
                                    <h4>大秦帝国</h4>
                                </a>
                            </li>
                            <li>
                                <span>1</span>
                                <a href="#">
                                    <h4>大秦帝国</h4>
                                </a>
                            </li>
                            <li>
                                <span>1</span>
                                <a href="#">
                                    <h4>大秦帝国</h4>
                                </a>
                            </li>
                            <li>
                                <span>1</span>
                                <a href="#">
                                    <h4>大秦帝国</h4>
                                </a>
                            </li>
                            <li>
                                <span>1</span>
                                <a href="#">
                                    <h4>大秦帝国</h4>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <script src="js/index.js"></script>
</body>

</html>