<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录-Bookspf</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/login.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body style="background: url('/img/loginbg.png') no-repeat;background-size: 100% 100%; background-attachment: fixed;">
    <div id="box" class="type_page">
        <div id="characters">
            <img src="/img/regcharacters.png">
        </div>
        <div id="tips">
            <h1>图书售书管理系统</h1>
            <h4>欢 迎 您</h4>
        </div>
        <form id="loginForm" @submit.prevent="submit">
            <input type="text" placeholder="   账号" v-model="username" id="log_account"><br>
            <input type="password" placeholder="   密码" v-model="password" id="log_password"><br>
            <div class="verifycode">
                <input type="text" v-model="captcha" placeholder="  验证码" id="verification">
                <div @click="changeCode"><img :src="'data:image/png;base64,'+code"></div>
            </div>
            <a href="/register" id="toReg">
                <h4>前往注册账号?</h4>
            </a>
            <a href="/" id="toIndex">
                <h4>前往主页></h4>
            </a>
            <div class="errmes">
                <span v-show="isShow">{{errmes}}</span>
            </div>
            <input type="submit" value="登录" id="sb">
        </form>
    </div>
    <script src="/js/login.js"></script>
</body>

</html>