<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录-Bookspf</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/login.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="box" class="type_page">
        <div id="characters"></div>
        <div id="tips"></div>
        <form action="" id="loginForm" @submit.prevent="submit">
            <!-- <span>账号:</span> -->
            <input type="text" v-model="username" id="log_account"><br>
            <!-- <span>密码:</span> -->
            <input type="password" v-model="password" id="log_password"><br>
            <span v-html="msg" id="err_msg"></span>
            <input type="submit" value="提交">
        </form>
    </div>
    <script src="js/testlogin.js"></script>
</body>

</html>