<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>图书管理员-Bookspf</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/manager.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="actionBlock" class="actionHidden" onclick="action('block')"></div>
    <div id="top">
        <div id="logo">
            <span>图书售书管理系统后台</span>
        </div>
        <div id="logout"><a href="javascript:;" @click="logout">退出</a></div>
    </div>
    <div id="nav">
        <div id="welcome">
            <div id="name">[[${user.realname}]]</div>
            <div class="wcword">欢迎您回来</div>
        </div>
        <div id="navitems">
            <div class="item" @click="rotateT(1)">
                <span>图书</span>
                <p :class="isShow==1?'rotate90':'norotate'">﹤</p>
            </div>
            <div onclick="isMain('bookInfo');externalGetBookList();" :class="isShow==1?'itemShow childItem':'itemHidden childItem'">
                图书信息管理
            </div>
            <div onclick="isMain('sortInfo');externalGetSortList();" :class="isShow==1?'itemShow childItem':'itemHidden childItem'">
                图书分类信息管理
            </div>
            <div onclick="isMain('orderReview');externalGetOrderList(0,'');" :class="isShow==1?'itemShow childItem':'itemHidden childItem'">
                订单查看
            </div>
            <div class="item" @click="rotateT(2)">
                <span>出入库</span>
                <p :class="isShow==2?'rotate90':'norotate'">﹤</p>
            </div>
            <div onclick="isMain('saleInfo');externalGetSaleList(0,'');" :class="isShow==2?'itemShow childItem':'itemHidden childItem'">
                销售记录查看
            </div>
            <div onclick="isMain('purchaseInfo');externalGetPurchaseList(0, '')" :class="isShow==2?'itemShow childItem':'itemHidden childItem'">
                进货记录管理
            </div>
            <div onclick="isMain('stockInfo');externalGetStockList(0,'');" :class="isShow==2?'itemShow childItem':'itemHidden childItem'">
                库存记录管理
            </div>
        </div>
    </div>

    <div class="main">
        <div id="bookInfo" class="mainItemHidden">
            <div class="searchBox">
                <div id="action" onclick="action('addBook')">
                    <span><a href="javascript:;">添加图书</a></span>
                </div>
            </div>
            <div class="List">
                <div class="listInfo">
                    <span>图书ID</span>
                    <span>图书名</span>
                    <span>分类ID</span>
                    <span>作者</span>
                    <span>图书价格</span>
                    <span>图书数量</span>
                    <span>是否上架</span>
                    <span>描述</span>
                </div>
                <div id="bookList">
                    <div class="listItem" v-for="item in books">
                        <span>{{item.bid}}</span>
                        <span>{{item.bookname}}</span>
                        <span>{{item.sortid}}</span>
                        <span>{{item.author}}</span>
                        <span>{{item.bookprice}}</span>
                        <span>{{item.number}}</span>
                        <span v-text="item.added==0?'否':'是'"></span>
                        <span class="description">{{item.description}}</span>
                        <span class="alter"><a href="javascript:;" @click="setBook(item)"
                                onclick="action('alterBook')">修改</a></span>
                        <span class="delete"><a href="javascript:;" @click="deleteBook(item.bid)">删除</a></span>
                    </div>
                </div>

            </div>
        </div>

        <div id="sortInfo" class="mainItemHidden">
            <div class="searchBox">
                <div id="action" onclick="action('addSort')">
                    <span><a href="javascript:;">添加分类</a></span>
                </div>
            </div>
            <div class="List">
                <div class="listInfo">
                    <span>分类ID</span>
                    <span>分类名</span>
                </div>
                <div id="sortList">
                    <div class="listItem" v-for="item in sorts">
                        <span>{{item.sortid}}</span>
                        <span>{{item.sortname}}</span>
                        <span class="alter"><a href="javascript:;" onclick="action('alterSort')" @click="setSort(item)">修改</a></span>
                        <span class="delete"><a href="javascript:;" @click="deleteSort(item.sortid)">删除</a></span>
                    </div>
                </div>

            </div>
        </div>

        <div id="orderInfo" class="mainItemHidden">
            <div id="orderSearch" class="searchBox">
                <div id="action" @click="orderSearch">
                    <span><a href="javascript:;">搜索</a></span>
                </div>
                <div class="search">
                    <div class="searchTop">
                        <span>通过订单ID搜索</span>
                        <span>通过用户ID搜索</span>
                        <span>通过订单创建时间搜索</span>
                    </div>
                    <div class="searchBar">
                        <span>
                            <input type="text" v-model="orderid">
                        </span>
                        <span>
                            <input type="text" v-model="uid">
                        </span>
                        <span>
                            <input type="datetime-local" v-model="createtime">
                        </span>
                    </div>
                </div>
            </div>
            <div class="List">
                <div class="listInfo">
                    <span>订单ID</span>
                    <span>用户ID</span>
                    <span class="time">订单创建时间</span>
                    <span>总价</span>
                </div>
                <div id="orderList">
                    <div class="listItem" v-for="item in orders">
                        <span>{{item.orderid}}</span>
                        <span>{{item.uid}}</span>
                        <span class="time">{{item.createtime}}</span>
                        <span>{{item.total}}元</span>
                        <span class="check"><a href="javascript:;" @click="externalCheckOrder(item.orderid)"
                                onclick="action('checkOrder')">查看订单</a></span>
                    </div>
                </div>

            </div>
        </div>

        <div id="saleInfo" class="mainItemHidden">
            <div id="saleSearch" class="searchBox">
                <div id="action" @click="saleSearch">
                    <span><a href="javascript:;">搜索</a></span>
                </div>
                <div class="search">
                    <div class="searchTop">
                        <span>通过销售ID搜索</span>
                        <span>通过ISBN搜索</span>
                        <span>通过销售时间搜索</span>
                    </div>
                    <div class="searchBar">
                        <span>
                            <input type="text" v-model="saleid">
                        </span>
                        <span>
                            <input type="text" v-model="isbn">
                        </span>
                        <span>
                            <input type="datetime-local" v-model="saletime">
                        </span>
                    </div>
                </div>
            </div>
            <div class="List">
                <div class="listInfo">
                    <span>销售ID</span>
                    <span>销售时间</span>
                </div>
                <div id="saleList">
                    <div class="listItem" v-for="item in sales">
                        <span>{{item.saleid}}</span>
                        <span>{{item.saletime}}</span>
                        <span class="check"><a href="javascript:;" @click="externalCheckSale(item.saleid)"
                                onclick="action('checkSale')">查看记录</a></span>
                    </div>
                </div>

            </div>
        </div>


        <div id="purchaseInfo" class="mainItemHidden">
            <div id="purchaseSearch" class="searchBox">
                <div id="action" onclick="action('addPurchase')">
                    <span><a href="javascript:;">添加记录</a></span>
                </div>
                <div id="action" @click="purchaseSearch">
                    <span><a href="javascript:;">搜索</a></span>
                </div>
                <div class="search">
                    <div class="searchTop">
                        <span>通过进货记录ID搜索</span>
                        <span>通过进货时间搜索</span>
                    </div>
                    <div class="searchBar">
                        <span>
                            <input type="text" v-model="purchaseid">
                        </span>
                        <span>
                            <input type="datetime-local" v-model="purchasetime">
                        </span>
                    </div>
                </div>
            </div>
            <div class="List">
                <div class="listInfo">
                    <span>进货记录ID</span>
                    <span>数量</span>
                    <span>总价</span>
                    <span class="time">进货时间</span>
                    <span>操作员 </span>
                </div>
                <div id="purchaseList">
                    <div class="listItem" v-for="item in purchases">
                        <span>{{item.purchaseid}}</span>
                        <span>{{item.number}}</span>
                        <span>{{item.total}}元</span>
                        <span class="time">{{item.purchasetime}}</span>
                        <span>{{item.operator}}</span>
                        <span class="check"><a href="javascript:;" @click="externalCheckPurchase(item.purchaseid)"
                                onclick="action('checkPurchase')">查看记录</a></span>
                    </div>
                </div>

            </div>
        </div>

        <div id="stockInfo" class="mainItemHidden">
            <div id="stockSearch" class="searchBox">
                <div id="action" @click="stockSearch">
                    <span><a href="javascript:;">搜索</a></span>
                </div>
                <div class="search">
                    <div class="searchTop">
                        <span>通过库存记录ID搜索</span>
                        <span>通过记录时间搜索</span>
                    </div>
                    <div class="searchBar">
                        <span>
                            <input type="text" v-model="stockid">
                        </span>
                        <span>
                            <input type="datetime-local" v-model="stocktime">
                        </span>
                    </div>
                </div>
            </div>
            <div class="List">
                <div class="listInfo">
                    <span>库存记录ID</span>
                    <span class="time">入库时间</span>
                    <span class="time">出库时间</span>
                    <span>出入库状态</span>
                </div>
                <div id="stockList">
                    <div class="listItem" v-for="item in stocks">
                        <span>{{item.stockid}}</span>
                        <span class="time">{{item.cometime}}</span>
                        <span class="time">{{item.outtime}}</span>
                        <span v-text="item.comeout==1?'已出库':'已入库'"></span>
                        <span class="check"><a href="javascript:;" @click="externalCheckStock(item.stockid)"
                                onclick="action('checkStock')">查看记录</a></span>
                    </div>
                </div>

            </div>
        </div>

    </div>




    <div class="bookWindow">
        <div id="addBook" class="window actionHidden">
            <div class="tips">添加图书</div>
            <form @submit.prevent="submit">
                <div id="bid">
                    <span>图书ID</span>：
                    <input type="text" v-model="bid">
                </div>
                <div id="bookname">
                    <span>图书名</span>：
                    <input type="text" v-model="bookname">
                </div>
                <div id="sortid">
                    <span>分类ID</span>：
                    <input type="text" v-model="sortid">
                </div>
                <div id="author">
                    <span>作者</span>：
                    <input type="text" v-model="author">
                </div>
                <div id="description">
                    <span>描述</span>：
                    <input type="text" v-model="description">
                </div>
                <div id="bookprice">
                    <span>图书价格</span>：
                    <input type="text" v-model="bookprice">
                </div>
                <div id="added">
                    <span>是否上架(0否/1是)</span>：
                    <input type="text" v-model="added">
                </div>
                <div class="bookimg">
                    <span>图书图片</span>：
                    <a href="javascript:;" class="a-upload">
                        <input type="file" accept="image/png" @change="fileChange($event)"> 上传图书图片
                    </a>
                    <span v-show="isUpImg" style="color: rgb(0, 255, 85);">已选择图片：{{imgName}}</span>
                </div>
                <div class="errmes">
                    <span v-show="isShow" :class="errmesColor?'errmesGreen':'errmesRed'">{{errmes}}</span>
                </div>
                <input id="addBookBtn" class="windowBtn" type="submit" value="确认添加">
            </form>
        </div>
        <div id="alterBook" class="window actionHidden">
            <div class="tips">修改图书信息</div>
            <form @submit.prevent="submit">
                <div id="bid">
                    <span>图书ID</span>：
                    <span class="alterBookbid">{{bid}}</span>
                </div>
                <div id="bookname">
                    <span>图书名</span>：
                    <input type="text" v-model="bookname">
                </div>
                <div id="sortid">
                    <span>分类ID</span>：
                    <input type="text" v-model="sortid">
                </div>
                <div id="author">
                    <span>作者</span>：
                    <input type="text" v-model="author">
                </div>
                <div id="description">
                    <span>描述</span>：
                    <input type="text" v-model="description">
                </div>
                <div id="bookprice">
                    <span>图书价格</span>：
                    <input type="text" v-model="bookprice">
                </div>
                <div id="added">
                    <span>是否上架(0否/1是)</span>：
                    <input type="text" v-model="added">
                </div>
                <div class="bookimg">
                    <span>图书图片</span>：
                    <a href="javascript:;" class="a-upload">
                        <input type="file" accept="image/png" @change="fileChange($event)"> 上传图书图片
                    </a>
                    <span v-show="isUpImg" style="color: rgb(0, 255, 85);">已选择图片：{{imgName}}</span>
                </div>
                <div class="errmes">
                    <span v-show="isShow" :class="errmesColor?'errmesGreen':'errmesRed'">{{errmes}}</span>
                </div>
                <input id="alterBookBtn" class="windowBtn" type="submit" value="确认修改">
            </form>
        </div>
    </div>

    <div class="sortWindow">
        <div id="addSort" class="window actionHidden">
            <div class="tips">添加分类</div>
            <form @submit.prevent="submit">
                <div id="sortid">
                    <span>分类编号</span>：
                    <input type="text" v-model="sortid">
                </div>
                <div id="sortname">
                    <span>分类名</span>：
                    <input type="text" v-model="sortname">
                </div>
                <div class="errmes">
                    <span v-show="isShow" :class="errmesColor?'errmesGreen':'errmesRed'">{{errmes}}</span>
                </div>
                <input id="addSortBtn" class="windowBtn" type="submit" value="确认添加">
            </form>
        </div>
        <div id="alterSort" class="window actionHidden">
            <div class="tips">修改分类</div>
            <form @submit.prevent="submit">
                <div id="sortid">
                    <span>分类编号</span>：<span class="alterSortid">{{sortid}}</span>
                </div>
                <div id="sortname">
                    <span>分类名</span>：
                    <input type="text" v-model="sortname">
                </div>
                <div class="errmes">
                    <span v-show="isShow" :class="errmesColor?'errmesGreen':'errmesRed'">{{errmes}}</span>
                </div>
                <input id="alterSortBtn" class="windowBtn" type="submit" value="确认修改">
            </form>
        </div>
    </div>

    <div class="orderWindow">
        <div id="checkOrder" class="window actionHidden">
            <div class="tips">
                <span>订单ID：{{orderid}}</span>
            </div>
            <div class="orders">
                <div v-for="item in ordersinfo">
                    <span>图书ID：{{item.bid}}</span>
                    <span>图书名称：{{item.bookname}}</span>
                    <span>ISBN：{{item.isbn}}</span>
                    <span>图书价格：{{item.bookprice}}元</span>
                </div>
            </div>
        </div>

    </div>

    <div class="saleWindow">
        <div id="checkSale" class="window actionHidden">
            <div class="tips">
                <span>销售ID：{{saleid}}</span>
            </div>
            <div class="sales">
                <div v-for="item in salesinfo">
                    <span>图书ID：{{item.bid}}</span>
                    <span>图书名称：{{item.bookname}}</span>
                    <span>ISBN：{{item.isbn}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="purchaseWindow">
        <div id="checkPurchase" class="window actionHidden">
            <div class="tips">
                <span>进货记录ID：{{purchaseid}}</span>
            </div>
            <div class="purchases">
                <div v-for="item in purchasesinfo">
                    <span>图书ID：{{item.bid}}</span>
                    <span>图书名称：{{item.bookname}}</span>
                    <span>ISBN：{{item.isbn}}</span>
                    <span>图书价格：{{item.purchaseprice}}元</span>
                </div>
            </div>
        </div>

        <div id="addPurchase" class="window actionHidden">
            <div class="tips">添加进货记录</div>
            <form @submit.prevent="submit">
                <div id="bookPurchase">
                    <div id="purchaseId">
                        <span>进货记录ID</span>：<input type="text" v-model="purchaseid">
                    </div>
                    <div id="bookId">
                        <span>图书ID</span>：<input type='text' v-model="bid">
                    </div>
                    <div>
                        <span>ISBN</span>：<input type='text' v-model="isbn">
                    </div>
                    <div>
                        <span>进货价格</span>：<input type='text' v-model="purchaseprice">
                    </div>
                    <div>
                        <span>进货时间</span>：<input type='datetime-local' v-model="purchasetime">
                    </div>
                </div>
                <div class="errmes">
                    <span v-show="isShow" :class="errmesColor?'errmesGreen':'errmesRed'">{{errmes}}</span>
                </div>
                <input id="addPurchasesubmit" class="windowBtn" type="submit" value="确认添加">
            </form>
        </div>
    </div>

    <div class="stockWindow">
        <div id="checkStock" class="window actionHidden">
            <div class="tips">
                <span>库存ID：{{stockid}}</span>
            </div>
            <div class="stocks">
                <div v-for="item in stocksinfo">
                    <span>图书ID：{{item.bid}}</span>
                    <span>图书名称：{{item.bookname}}</span>
                    <span>ISBN：{{item.isbn}}</span>
                </div>
            </div>
        </div>
    </div>



    <script src="js/manager.js"></script>
</body>

</html>