<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的订单-Bookspf</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/top.css">
    <link rel="stylesheet" href="/css/orders.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div th:insert="~{common :: top}"></div>
    <div id="box" class="type_page">
        <div id="orderInfo" class="mainItemHidden">
            <div id="orderSearch" class="searchBox">
                <div id="action" @click="orderSearch">
                    <span><a href="javascript:;">搜索</a></span>
                </div>
                <div class="search">
                    <div class="searchTop">
                        <span>通过订单ID搜索</span>
                        <span>通过订单创建时间搜索</span>
                    </div>
                    <div class="searchBar">
                        <span>
                                <input type="text" v-model="orderid">
                        </span>
                        <span>
                                <input type="datetime-local" v-model="createtime">
                        </span>
                    </div>
                </div>
            </div>
            <div class="List">
                <div class="listInfo">
                    <span>订单ID</span>
                    <span class="time">订单创建时间</span>
                    <span>总价</span>
                </div>
                <div id="orderList">
                    <div class="listItem" v-for="item in orders">
                        <span>{{item.orderid}}</span>
                        <span class="time">{{item.createtime}}</span>
                        <span>{{item.total}}</span>
                        <span class="check"><a href="javascript:;" @click="externalCheckOrder(item.orderid)"
                                    onclick="action('checkOrder')">查看订单</a></span>
                    </div>
                </div>

            </div>
        </div>

        <div class="orderWindow">
            <div id="checkOrder" class="window actionHidden">
                <div class="tips">
                    <span>订单ID：{{orderid}}</span>
                </div>
                <div class="orders">
                    <div v-for="item in ordersinfo">
                        <span>图书ID：{{item.bid}}</span>
                        <span>ISBN：{{item.isbn}}</span>
                        <span>图书价格：{{item.bookprice}}元</span>
                    </div>
                </div>
            </div>

        </div>
        <script src="/js/orders.js"></script>
</body>

</html>