<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册-Bookspf</title>
    <link rel="stylesheet" href="css/base.css">
    <script src="../static/js/testregister.js"></script>
</head>

<body>
    <div id="box">
        <form action="" id="regForm">
            用户名:<input type="text" id="username"><br>
            密码:<input type="password" name="" id="password"><br>
            Email:<input type="email" name="" id="email"><br>
            手机号:<input type="text" id="realname"><br>
            <input type="radio" name="gender" value="male">男
            <input type="radio" name="gender" value="female">女<br>
            <input type="date" id="birthday" name="birthday" placeholder="年/月/日"><br>
            <input type="submit" value="提交">
        </form>
    </div>
</body>

</html>