<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册-Bookspf</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/register.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body style="background: url('/img/regbg.png') no-repeat;background-size: 100% 100%; background-attachment: fixed;">
    <div id="box">
        <div id="characters"><img src="/img/characters.png" alt=""></div>
        <div id="tips">
            <h1>WELCOME</h1>
        </div>
        <form id="regForm" @submit.prevent="submit">
            <input type="text" placeholder="   Username" v-model="username" id="reg_username"><br>
            <input type="password" placeholder="   Password" v-model="password" id="reg_password"><br>
            <input type="text" placeholder="  Email" v-model="email" id="email"><br>
            <div class="verifycode">
                <input type="text" placeholder="  Verification" id="verification">
                <div></div>
            </div>
            <a href="/login" id="toIndex">
                <h4>Return to the login?</h4>
            </a>
            <a href="/" id="tologin">
                <h4>Go Index></h4>
            </a>
            <!-- :class="errmesColor?'errmesGreen':'errmesRed'" -->
            <div class="errmes">
                <span v-show="isShow" class="errmes_red">{{errmes}}</span>
            </div>
            <input type="submit" value="REGISTERED" id="sb">
        </form>
    </div>
    <script src="/js/register.js"></script>
</body>

</html>