<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册-Bookspf</title>
    <link rel="stylesheet" href="css/base.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/jquery.min.js"></script>

</head>

<body>
    <div id="box">
        <form id="regForm" @submit.prevent="submit">
            用户名:<input type="text" v-model="username"><br> 密码:
            <input type="password" v-model="password"><br> Email:
            <input type="text" v-model="email"><br>
            <input type="submit" value="提交">
        </form>
    </div>
    <script src="js/testregister.js"></script>
</body>

</html>