<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>我的订单-Bookspf</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/shopcar.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="top">
        <div id="nav" class="type_page">
            <div id="logo">
                <a href="/"><img src="img/logo.png" style="width: 36px; height: 36px;"></a>
            </div>
            <a href="/" id="index">首页</a>
            <a href="" id="classif">分类</a>
            <a th:href="@{/account/{user}(user=${session.userToken})}" th:if="${session.userToken != null}" id="username">[[${session.username}]]</a>
            <a th:href="@{/orders/{user}(user=${session.userToken})}" th:if="${session.userToken != null}" id="my_order">我的订单</a>
            <a href="/logout" th:if="${session.userToken != null}" id="exit">退出</a>
        </div>
    </div>
    <div id="box" class="type_page">
        <!-- <div id="blank_space">预留区域</div> -->
        <div id="shoppingCart">
            <div id="cart_information">
                <div id="cart_title">
                    <span>商品信息</span>
                    <span>单价</span>
                    <span>数量</span>
                    <span>金额</span>
                    <span>操作</span>
                </div>
                <div id="cart_list">
                    <ul>
                        <li>
                            <span>红楼梦蒙</span>
                            <span>13</span>
                            <span id="num">
                                <label id="decrease">-</label>
                                <input type="text" value="1" id="book_num">
                                <label id="add">+</label>
                            </span>
                            <span>13</span>
                            <a href="javascript:;" id="del">删除</a>
                        </li>
                        <li>
                            <span>红楼梦蒙</span>
                            <span>13</span>
                            <span id="num">
                                <label id="decrease">-</label>
                                <input type="text" value="1" id="book_num">
                                <label id="add">+</label>
                            </span>
                            <span>13</span>
                            <a href="javascript:;" id="del">删除</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div id="cart_operate">
                <span id="total">总价: <h1>$10</h1></span>
                <button id="buy" @click="buy">购买</button>
            </div>


        </div>
    </div>
    <script src="/js/shopcar.js"></script>
</body>

</html>