<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>超级管理员-Bookspf</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/superManager.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="actionBlock" class="actionHidden" onclick="action()"></div>
    <div id="top">
        <div id="logo">
            <span>管理系统后台</span>
        </div>
    </div>
    <div id="nav">
        <div id="welcome">
            <div id="name">CShisan</div>
            <div class="wcword">欢迎您回来</div>
        </div>
        <div id="navitems">
            <div id="mgAdmins" @click="rotateT">
                <span>操作管理员信息</span>
                <p :class="isShow?'rotate90':'norotate'">﹤</p>
            </div>
            <div :class="isShow?'itemShow':'itemHidden'" id="mgAdminsItem">
                管理员信息列表
            </div>
        </div>
    </div>
    <div class="main">
        <div class="actionFather">
            <div id="action" onclick="action()">
                <span><a href="#">添加管理员</a></span>
            </div>
        </div>
        <div id="managerList">
            <div>
                <span>UID：</span>
                <span>9394</span>
                <span>用户名：</span>
                <span>CShisan</span>
                <span>真实姓名：</span>
                <span>陈十三</span>
                <span class="delete"><a href="#">删除</a></span>
            </div>
            <div>
                <span>UID：</span>
                <span>9394</span>
                <span>用户名：</span>
                <span>CShisan</span>
                <span>真实姓名：</span>
                <span>陈十三</span>
                <span class="delete"><a href="#">删除</a></span>
            </div>
            <div>
                <span>UID：</span>
                <span>9394</span>
                <span>用户名：</span>
                <span>CShisan</span>
                <span>真实姓名：</span>
                <span>陈十三</span>
                <span class="delete"><a href="#">删除</a></span>
            </div>
            <div>
                <span>UID：</span>
                <span>9394</span>
                <span>用户名：</span>
                <span>CShisan</span>
                <span>真实姓名：</span>
                <span>陈十三</span>
                <span class="delete"><a href="#">删除</a></span>
            </div>
            <div>
                <span>UID：</span>
                <span>9394</span>
                <span>用户名：</span>
                <span>CShisan</span>
                <span>真实姓名：</span>
                <span>陈十三</span>
                <span class="delete"><a href="#">删除</a></span>
            </div>
            <div>
                <span>UID：</span>
                <span>9394</span>
                <span>用户名：</span>
                <span>CShisan</span>
                <span>真实姓名：</span>
                <span>陈十三</span>
                <span class="delete"><a href="#">删除</a></span>
            </div>
            <div>
                <span>UID：</span>
                <span>9394</span>
                <span>用户名：</span>
                <span>CShisan</span>
                <span>真实姓名：</span>
                <span>陈十三</span>
                <span class="delete"><a href="#">删除</a></span>
            </div>
            <div>
                <span>UID：</span>
                <span>9394</span>
                <span>用户名：</span>
                <span>CShisan</span>
                <span>真实姓名：</span>
                <span>陈十三</span>
                <span class="delete"><a href="#">删除</a></span>
            </div>
            <div>
                <span>UID：</span>
                <span>9394</span>
                <span>用户名：</span>
                <span>CShisan</span>
                <span>真实姓名：</span>
                <span>陈十三</span>
                <span class="delete"><a href="#">删除</a></span>
            </div>
            <div>
                <span>UID：</span>
                <span>9394</span>
                <span>用户名：</span>
                <span>CShisan</span>
                <span>真实姓名：</span>
                <span>陈十三</span>
                <span class="delete"><a href="#">删除</a></span>
            </div>

        </div>


    </div>
    <div id="addAdmin" class="actionHidden">
        <div class="tips">添加管理员信息</div>
        <form action="#">
            <div id="uid">
                <span>UID：</span>
                <input type="text">
            </div>
            <div id="username">
                <span>用户名：</span>
                <input type="text">
            </div>
            <div id="realname">
                <span>真实姓名：</span>
                <input type="text">
            </div>
            <div id="password">
                <span>密码：</span>
                <input type="password">
            </div>
            <div id="errmes">错误信息</div>
            <input id="submit" type="submit" value="确认添加">
        </form>
    </div>


    <script src="js/superManager.js"></script>
</body>

</html>