<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>超级管理员-Bookspf</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/superManager.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="actionBlock" class="actionHidden" onclick="action('block')"></div>
    <div id="top">
        <div id="logo">
            <span>图书售书管理系统后台</span>
        </div>
        <div id="logout"><a href="#" @click="logout">退出</a></div>
    </div>
    <div id="nav">
        <div id="welcome">
            <div id="name">[[${user.username}]]</div>
            <div class="wcword">欢迎您回来</div>
        </div>
        <div id="navitems">
            <div id="mgAdmins" @click="rotateT">
                <span>操作管理员信息</span>
                <p :class="isShow?'rotate90':'norotate'">﹤</p>
            </div>
            <div onclick="isMain();externalGetManagerList();" :class="isShow?'itemShow':'itemHidden'" id="mgAdminsItem">
                管理员信息列表
            </div>
        </div>
    </div>
    <div class="main">
        <div id="managerInfo" class="mainItemHidden">
            <div class="actionFather">
                <div id="action">
                    <span><a href="javascript:;" onclick="action('addAdmin')" @click="getManagerList">添加管理员</a></span>
                </div>
            </div>
            <div id="managerList">
                <div class="managerListItem" v-for="item in managers">
                    <div>
                        <span>UID：{{item.uid}}</span>
                        <span>用户名：{{item.username}}</span>
                        <span>邮箱：{{item.email}}</span>
                        <span>真实姓名：{{item.realname}}</span>
                        <span class="alter"><a href="javascript:;" @click="setUid(item.uid)"
                            onclick="action('alterAdmin')">修改</a></span>
                        <span class="delete" @click="deleteAdmin(item.uid)"><a href="#">删除</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="addAdmin" class="actionHidden">
        <div class="tips">添加管理员信息</div>
        <form @submit.prevent="submit">
            <div id="uid">
                <span>UID：</span>
                <input type="text" v-model="uid">
            </div>
            <div id="username">
                <span>用户名：</span>
                <input type="text" v-model="username">
            </div>
            <div id="password">
                <span>密码：</span>
                <input type="password" v-model="password">
            </div>
            <div id="email">
                <span>邮箱：</span>
                <input type="text" v-model="email">
            </div>
            <div id="realname">
                <span>真实姓名：</span>
                <input type="text" v-model="realname">
            </div>
            <div class="errmes">
                <span v-show="isShow" :class="errmesColor?'errmesGreen':'errmesRed'">{{errmes}}</span>
            </div>
            <input class="addAdminBtn" type="submit" value="确认添加">
        </form>
    </div>
    <div id="alterAdmin" class="actionHidden">
        <div class="tips">修改管理员信息</div>
        <form @submit.prevent="submit">
            <div id="uid">
                <span>UID：</span><span>123</span>
            </div>
            <div id="username">
                <span>用户名：</span>
                <input type="text" v-model="username">
            </div>
            <div id="password">
                <span>密码：</span>
                <input type="password" v-model="password">
            </div>
            <div id="email">
                <span>邮箱：</span>
                <input type="text" v-model="email">
            </div>
            <div id="realname">
                <span>真实姓名：</span>
                <input type="text" v-model="realname">
            </div>
            <div class="errmes">
                <span v-show="isShow" :class="errmesColor?'errmesGreen':'errmesRed'">{{errmes}}</span>
            </div>
            <input class="alterAdminBtn" type="submit" value="确认修改">
        </form>
    </div>



    <script src="js/superManager.js"></script>
</body>

</html>